*~
server
vars.json
mounter/mounter
unmounter/unmounter
find-nvme-device/find-nvme-device
minemanagerd/minemanagerd
minemanagerd/vendor
cli/vendor
cli/client
cli/models
cli/statik
cli/spotcraft
lambda/*.zip
static-assets/functions
static-assets/*.template
static-assets/*.json
